#box{
  border: 1px solid black;
  width: 75px;
  height: 75px;
}

#column1, #column2, #column3, #column4, #column5, #column6{
  display: flex;
  width:400px;
  justify-content: space-between;
  margin: 5px;
}